# Auth
AUTH_EMAIL=admin@kelas.com
AUTH_PASSWORD=admin123

# JWT
JWT_SECRET=super-secret-key-change-in-production

# MongoDB (solo si no se usa docker-compose)
MONGODB_CONNECTION_STRING=mongodb://localhost:27017/kelas?replicaSet=rs0
MONGODB_DATABASE_NAME=kelas

# Frontend
VITE_API_URL=http://localhost:5000/api
